*, *::before, *::after {
  box-sizing: border-box;
}

body {
  max-width: 1440px;
  background-color: rgb(221, 218, 218);
  font-family: "Hanken Grotesk", sans-serif;
}

.container {
  max-width: 600px;
  background-color: white;
  border-radius: 25px;
  display: flex;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}

.header {
  margin-top: 0;
  margin-bottom: 0;
}

.continue-button {
  background-color: hsl(224, 30%, 27%);
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-size: 14px;
}

.result-container {
  width: 50%;
  background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  /* background-color: hsl(252, 100%, 67%);
  background-color: hsl(241, 81%, 54%); */
  color: white;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .result-container {
    width: 100%;
    border-radius: 0;
  }
}
.result-container .header {
  opacity: 0.7;
}
.result-container .player-score-box {
  width: 175px;
  height: 175px;
  border-radius: 50%;
  background: linear-gradient(0deg, hsla(241, 72%, 46%, 0), hsl(256, 72%, 46%));
  /* background-color:  hsla(241, 72%, 46%, 0);
  background-color: hsla(256, 72%, 46%, 1); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.result-container .player-score-box .player-score {
  font-size: 60px;
  font-weight: 700;
}
.result-container .player-score-box .max-score {
  opacity: 0.5;
}
.result-container .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.result-container .description :last-child {
  margin-bottom: 0;
}
.result-container .description .shout {
  font-size: 28px;
  font-weight: 700;
}
.result-container .description p {
  opacity: 0.7;
}

.summary-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 25px;
  padding: 30px;
}
@media screen and (max-width: 500px) {
  .summary-container {
    width: 100%;
  }
}
.summary-container .header {
  color: hsl(224, 30%, 27%);
}
@media screen and (max-width: 300px) {
  .summary-container .header {
    text-align: center;
  }
}
.summary-container .specific-score-box-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.summary-container .specific-score-box-container .specific-score-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 13px 10px;
  border-radius: 10px;
}
@media screen and (max-width: 300px) {
  .summary-container .specific-score-box-container .specific-score-box {
    flex-direction: column;
    gap: 10px;
  }
}
.summary-container .specific-score-box-container .specific-score-box:nth-of-type(4n+1) {
  background-color: hsla(0, 100%, 67%, 0.1);
  color: hsl(0, 100%, 67%);
}
.summary-container .specific-score-box-container .specific-score-box:nth-of-type(4n+2) {
  background-color: hsla(39, 100%, 56%, 0.1);
  color: hsl(39, 100%, 56%);
}
.summary-container .specific-score-box-container .specific-score-box:nth-of-type(4n+3) {
  background-color: hsla(166, 100%, 37%, 0.1);
  color: hsl(166, 100%, 37%);
}
.summary-container .specific-score-box-container .specific-score-box:nth-of-type(4n+4) {
  background-color: hsla(234, 85%, 45%, 0.1);
  color: hsl(234, 85%, 45%);
}
.summary-container .specific-score-box-container .specific-score-box .specific-score-title-wrapper {
  margin-bottom: 0;
  margin-top: 0;
  display: flex;
  gap: 10px;
  font-size: 17px;
}
.summary-container .specific-score-box-container .specific-score-box .specific-score-wrapper {
  color: hsl(224, 30%, 27%);
  font-weight: 700;
}
.summary-container .specific-score-box-container .specific-score-box .specific-score-wrapper .specific-max-score {
  opacity: 0.7;
}/*# sourceMappingURL=flexbox-task3.css.map */